h2 {
  margin: 1rem;
}

.pedido {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__total {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    gap: 10px;
    span {
      font-weight: 500;
    }
  }
}

main {
  margin-top: 1rem;
  overflow: auto;
  height: 60vh;
}

footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  bottom: 0;
  margin: 2rem;
  gap: 1rem;
  button {
    width: 100%;
    font-size: 1.2rem;
    padding: 1.5rem 0;
  }
}
