<layout-principal [loading]="false" titulo="pedido Oliver">
  <main>
    <app-lista-produtos
      [pedidos$]="pedido$"
      (removerItem)="removerItemPedido($event)">
    </app-lista-produtos>
  </main>

  <footer *ngIf="pedido$ | async as pedido">
    <button
      [hidden]="!pedido.length"
      class="btn-acao"
      mat-raised-button
      color="primary"
      (click)="finalizarPedido()">
      concluir pedido <span>{{ totalPedido$ | async | currency: 'BRL' }}</span>
    </button>
    <button mat-stroked-button color="primary" (click)="irParaCardapio()">
      voltar
    </button>
  </footer>
</layout-principal>
