<layout-principal [loading]="false" titulo="pedido Oliver">
  <h2>Resumo do Pedido</h2>
  <main>
    <mat-list role="list" *ngFor="let item of pedido$ | async">
      <mat-list-item role="listitem">
        <div>
          <span> {{ item.quantidade }}X </span>
          <span>
            {{ item.nome }}
          </span>
          <span>
            {{ item.preco * item.quantidade | currency: 'BRL' }}
          </span>
          <button mat-icon-button (click)="removerItemPedido(item)">
            <mat-icon color="primary">delete_outline</mat-icon>
          </button>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </main>

  <footer>
    <button class="btn-acao" mat-raised-button color="primary">
      finalizar pedido
    </button>
    <button mat-stroked-button color="primary" (click)="irParaCardapio()">
      voltar
    </button>
  </footer>
</layout-principal>
