h2 {
  font-size: 1.2rem;
  margin-top: 10px;
}

#itens-mais-pedidos {
  button {
    background-color: transparent;
    border: none;
    img {
      flex: 0 0 auto;
      width: 113px;
      height: 113px;
      margin-right: 15px;
      border-radius: 8px;
      object-fit: cover;
    }
    span {
      font-size: 1rem;
      font-weight: 500;
      color: #000;
    }
  }
}

.card {
  margin: 20px 0;
  .conteudo-descricao {
    font-size: 1rem;
  }
  img {
    border-radius: 8%;
    object-fit: cover;
  }
}
