<div>
  <mat-toolbar color="primary">
    <button
      [matMenuTriggerFor]="menu"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="irParaCardapio()">
        <mat-icon>fastfood</mat-icon>
        Cardápio
      </button>
      <button mat-menu-item (click)="irParaPedido()">
        <mat-icon>add_shopping_cart</mat-icon>
        Pedido
      </button>
    </mat-menu>
    <h1>{{ titulo }}</h1>
  </mat-toolbar>

  <main>
    <div class="loading" *ngIf="loading; else conteudo">
      <mat-spinner></mat-spinner>
    </div>

    <ng-template #conteudo>
      <ng-content></ng-content>
    </ng-template>
  </main>
</div>
