<div>
  <p>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>cardapio Oliver</h1>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  <main>
    <div class="loading" *ngIf="loading; else conteudo">
      <mat-spinner></mat-spinner>
    </div>

    <ng-template #conteudo>
      <ng-content></ng-content>
    </ng-template>
  </main>
</div>
